/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease;
}

/* LIGHT MODE (DEFAULT) */
:root {
  --bg-color: #ffffff;
  --text-color: #222222;
  --primary-color: #ff4da6;
  --card-color: #f9f9f9;
}

/* DARK MODE */
body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-color: #1e1e1e;
}

/* APPLY VARIABLES */
body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON DEFAULT */
button {
  cursor: pointer;
}

/* SMOOTH PAGE LOOK */
html {
  scroll-behavior: smooth;
}